body {
	font-family: Raleway, Arial, sans-serif;
	color: white;
	background-color: #ff8138;
	height: 300px;
    margin: auto;
    position: absolute;
	left: 0;
    right: 0;
    bottom: 0;
    top: 0;
	text-align: center;
}

a {
	color: white;
}

p {
	font-size: 26px;
}

h1 {
	text-transform: uppercase;
	font-size: 44px;
}

.icon {
	margin: 10px;
}